// Personalització variables colors Bootstrap
$primary: #5265e1;
$secondary: #fa5959;

// Imatge forma de pastilla dreta i esquerra rere la imatge
main {
    overflow-x: hidden;
}

.pill-form-dreta {
    position: absolute;
    z-index: -1;
    width: 300%;
    top: 30%;
    bottom: 0%;
    left: 30%;
    right: 0%;
}

.pill-form-esquerra {
    position: absolute;
    z-index: -1;
    width: 300%;
    top: 20%;
    bottom: 0%;
    right: 20%;
}

// Estils Tabs component
ul#myTab {
    border: 0;

    .nav-item {
        .nav-link {
            color: black;
            opacity: 60%;
            border: 0;
            border-bottom: 1px solid #dee2e6;

        }

        .nav-link.active {
            opacity: 100%;
            border-bottom: 3px solid $secondary;
        }

    }
}

// Icona arrow accordion component
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='12'><path fill='none' stroke='#5267DF' stroke-width='3' d='M1 1l8 8 8-8'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#FA5959'><path fill-rule='evenodd' stroke='#FA5959' stroke-width='1' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

// Icona invalid form
$form-feedback-icon-invalid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><g fill='none' fill-rule='evenodd'><circle cx='10' cy='10' r='10' fill='#FA5959'/><g fill='#FFF' transform='translate(9 5)'><rect width='2' height='7' rx='1'/><rect width='2' height='2' y='8' rx='1' /></g></g></svg>");

// Personalització estils missatge invalid form
$form-feedback-tooltip-font-size: 0.6rem;

.invalid-tooltip {
    left: 0;
    right: 0;
    margin-top: 0 !important;
    overflow-x: hidden;
    background-color: $secondary !important;
}

// Personalització estats actius botons i enllaços
$accordion-button-active-bg: white;
$accordion-button-active-color: black;

@mixin btn($color) {
    color: $color !important;
    background-color: white !important;
    border-color: $color !important;
}

.btn-primary:hover {
    @include btn($primary);
}

.btn-secondary:hover {
    @include btn($secondary);
}

.btn-light:hover {
    @include btn(black);
}

.nav-link,
.accordion-button {
    &:hover {
        color: $secondary !important;
    }
}

.xarxes-icon:hover {
    filter: invert(55%) sepia(34%) saturate(2283%) hue-rotate(320deg) brightness(91%) contrast(117%);
}

// Posició cards en medium breakpoint amb nth-child(n) i Media Query

@media screen and (min-width: 768px) {
    @for $n from 1 through 3 {
        .card-position {
            &>:nth-child(#{$n}) {
                margin-top: #{(($n - 1)*3)}rem;
            }
        }
    }
}

// Importar Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";